/* ========== BEGIN PS4 Custom Controller Overlay (OBS Ready) ========== */

/* OBS transparency */
html, body {
  margin: 0;
  padding: 0;
  background: transparent;
}

/* Controller wrapper (your custom art is the base) */
.controller.ds4{
  width: 806px;
  height: 599px;
  position: relative;            /* REQUIRED for absolute children */
  background: url("toxiccontroller.png") no-repeat center center;
  background-size: contain;      /* keep proportions */
}

/* Disconnected state (optional) */
.ds4.disconnected{
  background: url("toxiccontroller.png") no-repeat center center;
  background-size: contain;
}
.ds4.disconnected div{ display:none; }

/* Hide EVERYTHING by default (so only your PNG shows) */
.ds4 .trigger,
.ds4 .bumper,
.ds4 .touchpad,
.ds4 .meta,
.ds4 .back, .ds4 .start,
.ds4 .button,
.ds4 .stick,
.ds4 .face{
  opacity: 0;
  pointer-events: none;
}

/* Show ONLY when pressed */
.ds4 .trigger.pressed,
.ds4 .bumper.pressed,
.ds4 .touchpad.pressed,
.ds4 .meta.pressed,
.ds4 .back.pressed, .ds4 .start.pressed,
.ds4 .button.pressed,
.ds4 .stick.pressed,
.ds4 .face.pressed{
  opacity: 1;
}

/* ---------- Layout: keep your original positions/sizes ---------- */

.ds4 .triggers{
  width: 588px;
  height: 90px;
  position: absolute;
  left: 109px;
  top: 0px;
}
.ds4 .trigger{
  width: 99px;
  height: 100%;
  background: url("ps4-assets/triggers.svg") no-repeat;
}
.ds4 .trigger.left{ float:left; }
.ds4 .trigger.right{
  float:right;
  background-position-x: 99px;
}

.ds4 .bumpers{
  position: absolute;
  width: 588px;
  height: 23px;
  left: 109px;
  top: 94px;
}
.ds4 .bumper{
  width: 99px;
  height: 23px;
  background: url("ps4-assets/bumper.svg") no-repeat;
}
.ds4 .bumper.left{ float:left; }
.ds4 .bumper.right{
  float:right;
  transform: rotateY(180deg);
}

.ds4 .touchpad{
  width: 262px;
  height: 151px;
  position: absolute;
  left: 272px;
  top: 122px;
}
.ds4 .touchpad.pressed{
  background: url("ps4-assets/touchpad.svg") no-repeat center;
}

.ds4 .meta{
  width: 42px;
  height: 42px;
  position: absolute;
  left: 382px;
  bottom: 216px;
}
.ds4 .meta.pressed{
  background: url("ps4-assets/meta.svg") no-repeat center;
}

.ds4 .arrows{
  position: absolute;
  width: 352px;
  height: 46px;
  top: 142px;
  left: 227px;
}
.ds4 .back, .ds4 .start{
  background: url("ps4-assets/start.svg") no-repeat;
  width: 28px;
  height: 46px;
}
.ds4 .back{ float:left; }
.ds4 .start{
  float:right;
  background-position: 28px 0;
}

.ds4 .abxy{
  position: absolute;
  width: 170px;
  height: 171px;
  top: 159px;
  left: 567px;
}
.ds4 .button{
  position: absolute;
  width: 55px;
  height: 55px;
  background: url("ps4-assets/face.svg") no-repeat;
}
/* pressed frame in sprite */
.ds4 .button.pressed{ background-position-y: 55px; }

.ds4 .a{ background-position:   0px 0; bottom:0; left:58px; }       /* X */
.ds4 .b{ background-position: -57px 0; top:58px; right:0; }         /* O */
.ds4 .x{ background-position:-113px 0; top:58px; left:0; }          /* Square */
.ds4 .y{ background-position:  55px 0; top:0; left:58px; }          /* Triangle */

.ds4 .sticks{
  position: absolute;
  width: 361px;
  height: 105px;
  top: 308px;
  left: 228px;
}
.ds4 .stick{
  position: absolute;
  background: url("ps4-assets/sticks.svg") no-repeat;
  width: 94px;
  height: 94px;
}
.ds4 .stick.left{ top:0; left:0; }
.ds4 .stick.right{ top: calc(100% - 105px); left: calc(100% - 105px); }
.ds4 .stick.pressed.left{ background-position-x: -96px; }
.ds4 .stick.pressed.right{ background-position-x: -192px; }

.ds4 .dpad{
  position: absolute;
  width: 125px;
  height: 126px;
  top: 181px;
  left: 92px;
}
.ds4 .face{
  position: absolute;
  background: url("ps4-assets/dpad.svg") no-repeat;
}
.ds4 .face.up, .ds4 .face.down{ width:36px; height:52px; }
.ds4 .face.left, .ds4 .face.right{ width:52px; height:36px; }

.ds4 .face.up{ left:44px; top:0; background-position: -37px 0; }
.ds4 .face.down{ left:44px; bottom:0; background-position: 0 0; }
.ds4 .face.left{ top:45px; left:0; background-position: 104px 0; }
.ds4 .face.right{ top:45px; right:0; background-position: 52px 0; }

.ds4 .face.pressed{ background-position-y: 52px; }

/* ========== END PS4 Custom Controller Overlay (OBS Ready) ========== */

